<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!logs"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="logs">
  <thead>
    <tr>
      <th>ID</th>
      <th>IP</th>
      <th>Data do Log</th>
      <th>Agente do arquivo</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs">
      <td>{{ log.id }}</td>
      <td>{{ log.ip }}</td>
      <td>{{ log.dateRecovery }}</td>
      <td>{{ log.userAgent }}</td>
      <td><button>Editar</button></td>
      <td><button>Excluir</button></td>
    </tr>
  </tbody>
</table>
