<h2 id="tableLabel">Logs Recuperados</h2>

<p>Estes são os logs presentes em nosso banco de dados.</p>

<p *ngIf="!logs"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="logs">
  <thead>
    <tr>
      <th>IP</th>
      <th>Data do Log</th>
      <th>User-Agent(Agregação)</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let log of logs">
      <td>{{ log.ip }}</td>
      <td>{{ log.recordedTime | date:'dd/MM/yyyy' }}</td>
      <td>{{ log.userAgent }}</td>
      <td><button routerLink="/update-data/{{ log.id }}">Editar</button></td>
      <td><button (click)="delete(log.id)">Excluir</button></td>
    </tr>
  </tbody>
</table>
