<div>
  <p>Cadastre aqui os dados de seu log, para isso preencha os campos abaixo:</p>

  <form action="" class="send-informations-container">
    <div class="send-informations-content">
      <label>IP:</label>
      <input type="text" name="ip" placeholder="IP" [(ngModel)]="log.ip" />
    </div>
    <div class="send-informations-content">
      <label>Data do log:</label>
      <input type="date" name="recordedTime" [(ngModel)]="log.recordedTime" (ngModelChange)="recordedTime = $event" />
    </div>
    <div class="send-informations-content">
      <label>User-Agent(Agregação):</label>
      <input type="text" class="user-agent-text" name="userAgent" placeholder="User Agent" [(ngModel)]="log.userAgent"/>
    </div>
  </form>
  <div class="send-informations-container-button">
    <button (click)="createLog()">Enviar</button>
  </div>
</div>
